<%-include("../layouts/header", {title})%>
<%-include("../layouts/menu")%>

<h1><%=title%></h1>

<p>Аутентификация</p>
<form action="/api/user/login" method="post">
    <div>
        <label>Логин:</label>
        <input type="text" name="username" /><br />
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <input type="submit" value="Войти" />
    </div>
</form>
<p style="margin-top: 30px">Новый пользователь</p>
<form action="/api/user/signup" method="post">
    <div>
        <label>Логин:</label>
        <input type="text" name="username" /><br />
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <label>Пароль повторно:</label>
        <input type="password" name="password-repeat" />
    </div>
    <div>
        <label>Имя:</label>
        <input type="text" name="displayName" />
    </div>
    <div>
        <label>Email:</label>
        <input type="text" name="email" />
    </div>
    <div>
        <input type="submit" value="Создать" />
    </div>
</form>

<%-include("../layouts/footer")%>